.box {
    width: 60%;
    text-align: right;
    position: relative;
    top: 12%;
    .banner {
        .block {
            height: 50px;
            width: 0%;
            background: #6bbd8c;
            position: absolute;
            animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        }
        .heading {
            color: $white;
            font-size: 3em;
            -webkit-animation: headingFadeIn 2s forwards;
            -o-animation: headingFadeIn 2s forwards;
            animation: headingFadeIn 2s forwards;
            animation-delay: 1.6s;
            opacity: 0;
        }
        .bioBlock {
            width: 0%;
            height: 40px;
            background: #6bbd8c;
            position: absolute;
            animation: subBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
            animation-delay: 1.5s;
        }
        .subHeading {
            font-size: 1.5em;
            opacity: 0;
            -webkit-animation: bioFadeIn 2s forwards;
            -o-animation: bioFadeIn 2s forwards;
            animation: bioFadeIn 2s forwards;
            animation-delay: 3s;
            opacity: 0;
        }
    }
}

@keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 75%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 75%;
    }
  }
  @keyframes subBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 63%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 63%;
    }
  }

  @keyframes headingFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes bioFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }