.fav {
    margin: 1% 5% 2% 5%;
    .heading {
        display: grid;
        grid-template-columns: 10% 80%;
        align-items: center;
        font-family: 'Audiowide';
        color: $purple;
        #back {
            font-size: 2em;
            cursor: pointer;
            color: white;
        }
        .title {
            font-size: 2em;
            text-align: center;
            font-weight: 600;
        }
    }
    .content {
        display: grid;
        .card {
            margin: 10% 0%;
            border-radius: 1px;
            .strip {
                width: 60%;
                height: 10px;
                background: brown;
                position: relative;
                top: 60%;
                right: 10%;
            }
            .title {
                font-size: 1.2em;
            }
        }
    }
    .pagination {
        margin-bottom: 8%;
        padding: 0 5%;
        .hide {
            display: none;
        }
        .button {
            padding: 5px 8px;
            background: white;
            color: black;
            border-radius: 2px;
            cursor: pointer;
            width: 5%;
        }
        .prev {
            float: left
        }
        .next {
            float: right
        }
    }
}
@media only screen and (min-device-width: 1200px) {
    .fav {
        .content {
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 5%;
            margin: 2%;
        }
    }
}
@media only screen and (max-device-width: 1199px) {
    .fav {
        .heading {
            margin-bottom: 10%;
            #back {
                font-size: 1em;
            }
            .title {
                font-size: 1.3em;
                text-align: center;
                width: 100%;
                margin: 0;
            }
        }
        .content {
            .card {
                margin: 10% 5%;
                overflow: scroll;
                height: 65vh;
            }
        }
        .pagination {
            margin-bottom: 15%;
            .button {
                width: 15%;
                padding: 2 4px;
            }
        }
    }
}