$black: #1a1a1d;
$grey: #4e4e50;
$dom: #C3073F;
$domDark: #950740;
$domXDark: #6f2232;
$white: #ffffff;
$neonWhite: #ffe6ff;
$purple: #5918df;
$purpleLight: #6d2fe9;
$purpleXLight: #8e5dee; 
$gray: #6c757d;
$lightGray: #bbc0c4;
