.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 2%;
    .card {
        margin: 10% 0%;
        margin-left: 20%;
    }
}
@media only screen and (max-device-width: 1199px){
    .container {
        grid-template-columns: 100%;
    }
}