.btn {
    color: black;
    background: white;
    font-size: 1em;
    cursor: pointer;
    padding: 0.5% 1%;
    margin: 1%;
}
.heading {
    font-size: 2em;
    color: $purple;
    margin: 3%;
    font-family: 'Audiowide';
}

ul {
    list-style-type: none;
    li {
        margin: 2% 0% 10% 0%;
    }
}
.open-source, .misc-projects {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;
}
@media only screen and (min-device-width: 1200px){
    
}
@media only screen and (max-device-width: 1199px){
    ul {
        li {
            margin: 2% 0% 15% 0%;
        }
    }
    .open-source {
        grid-template-columns: 100%;
        margin: 0% 5%;
    }
    .misc-projects {
        grid-template-columns: 100%;
        margin: 0% 5%;
    }
    .xdAnimation {
        width: 200px;
        height: 200px;
    }
}
